appdirs==1.4.3
CacheControl==0.12.6
distlib==0.3.0
distro==1.4.0
Flask==1.0.2
html5lib==1.0.1
Jinja2==2.11.2
pytoml==0.1.21
requests==2.22.0
cmake==3.18.2
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
numpy==1.19.2
sumy==0.8.1
nltk==3.4.5
flask-cors==3.0.9
python-dotenv==0.14.0
lxml==4.5.2
scikit-learn==0.24.1
sklearn==0.0
gensim==3.8.3
secedgar==0.3.0
beautifulsoup4==4.8.0
tornado==6.1
tqdm==4.51.0
asyncio==3.4.3
